@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2c405c; /* Background color of the scrollbar track */
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb {
  background-color: #94979b; /* Color of the scroll thumb */
  border-radius: 6px;
  border: 1px solid #1f2937; /* Padding around scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bac1cb; /* Color of the scroll thumb on hover */
}